<div class="d-flex">

    <!-- Sidebar -->

    <div class="bg-dark text-white p-3"
         style="width:250px; min-height:100vh;">

        <h4 class="mb-4">
            Admin Panel
        </h4>

        <a href="/admin"
           class="btn btn-dark w-100 text-start mb-2">
            📊 Dashboard
        </a>

        <a href="/delivered-orders"
           class="btn btn-dark w-100 text-start mb-2">
            📦 Delivered Orders
        </a>

        <a href="/export"
           class="btn btn-dark w-100 text-start mb-2">
            📥 Export Excel
        </a>

        <a href="/admin/logout"
           class="btn btn-danger w-100 mt-4">
            🚪 Logout
        </a>

    </div>
